.Event-btn {
    color: white;
    font-weight: 600;
    background-color: darkslategrey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}