.Home {
  height: 100vh;
  color: grey;
  .Home-title {
    color: white;
    background-color: rgba(#000000, 0.5);
    padding: 10px 30px;
    border-radius: 3px;
    text-align: center;
    @media only screen and (max-width: 600px) {
      font-size: 2rem;
      padding: 10px 20px;
    }
  }
  .Home-category-title {
    @media only screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .Home-btn-section {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    .Home-gender-btn {
      padding: 3px 8px;
      background-color: darksalmon;
      margin: 0 10px;
      border-radius: 3px;
    }
  }
  .hero {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 45px;
  font-family: 'Roboto-Slab', sans-serif;
  font-size: 12px;

  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(133, 133, 133);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(2px);
  text-decoration: none;
}
.button.men {
  margin-right: 2vw;
}
.button.women {
  margin-left: 2vw;
}
