// .Navbar {
//   background-color: antiquewhite;
//   color: darkgray;
//   .Navbar-items {
//     display: flex;
//     justify-content: space-between;
//   }
//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     justify-content: space-between;
//     li {
//       display: inline;
//     }
//   }
// }
.navbar-brand .nav-link {
  padding: 0;
  color: white;
  svg {
    width: 25px;
    margin-right: 4px;
  }
}
