.Record {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
    background-color: rgb(182, 182, 182);
    @media only screen and (max-width: 992px) {
      margin-top: 20px;
    }
    @media only screen and (max-width: 500px) {
      margin-top: 20px;
    }
  }
  .flag {
    width: 30px;
    margin-top: 0;
    @media only screen and (max-width: 500px) {
      margin-right: 9px;
    }
  }
  svg {
    width: 30px;
    height: 30px;
    @media only screen and (max-width: 500px) {
      margin-right: 9px;
    }
  }
  .Record-name {
    font-size: 27px;
    font-weight: 800;
    font-style: italic;
    line-height: 30px;
  }
  .Record-time {
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
  }
  .Record-age {
    font-style: italic;
    color: dimgrey;
    margin-bottom: 20px;
  }
  .Record-details {
    span {
      font-weight: 600;
    }
    li {
      border: 1px solid lightgrey;
      padding: 5px;
    }
  }
}
